.page-content {
  flex-direction: column;
}

.branding-statement {
  margin: 20px; 
  max-width: 500px;
}

#photos-container {
  width: 40%;
}

#photos-container > img {
  border-radius: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);  ;
  width: 90%;
  max-width: 300px;
  height: auto;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}


@media screen and (max-width:700px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  #photos-container {
    width: 100%;
  }
}