.branding-statement {
  margin: 20px; 
  max-width: 500px;
}

#photos-container {
  width: 40%;
}

#photos-container > img {
  border-radius: 10px;
  box-shadow: rgba(0,0,0, 0.16) 0px 10px 36px 0px, rgba(0,0,0, 0.06) 0px 0px 0px 1px, 8px 8px 2px #565654;
  ;
  width: 70%;
  height: auto;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.icon-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-link {
  text-decoration: none;
  color: lightgoldenrodyellow;
  height: auto;
  margin: 10px;
}