main {
  --bg1: #edede9;
  --fg2: #1c2c2d;
}

html,
body,
#root,
main {
  margin: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
  background: #1c2c2d;
  color: #edede9;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #edede9;
}

#home-link {
  margin-right: auto;
}

.navlink {
  margin: 10px;
  color: #1c2c2d;
  text-decoration: none;
}

.navlink:hover {
  color: cadetblue;
}

.footer {
  margin-top: auto;
}