main {
  --bg: #edede9;
  --fg: #1c2c2d;
  --shd: #d3d3d0;
}

html,
body,
#root,
main {
  margin: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
  color: #1c2c2d;
  background: #edede9;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  min-height: 100vh;
  width: 100vw;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #edede9;
}

#home-link {
  margin-right: auto;
}

.navlink {
  margin: 10px;
  color: #1c2c2d;
  text-decoration: none;
}

.navlink:hover {
  color: cadetblue;
}

.footer {
  margin-top: auto;
  background-color: #edede9;
}