.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-size: cover;  
  height: 250px;
  width: 350px;
  margin: 20px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);}

.img-container h2 {
  visibility: hidden;
  color: #1c2c2d;
  margin-top: 50px;
  text-decoration: none;
}

.img-container:hover h2 {
  visibility: visible;
}

#dark {
  color: #1c2c2d;
}

#light {
  color: #d6ccc2;
}

a {
  text-decoration: none;
}

.contact-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#form {
  margin: 30px;
}