.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 40px;
  background-size: cover;  
  height: 250px;
  width: 350px;
  margin: 20px;
}

.img-container h2 {
  visibility: hidden;
  color: #1c2c2d;
  margin-top: 50px;
  text-decoration: none;
}

.img-container:hover h2 {
  visibility: visible;
}

#dark {
  color: #1c2c2d;
}

#light {
  color: #d6ccc2;
}

a {
  text-decoration: none;
}

.page-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}