.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.icon-link:hover {
  color: cadetblue;
}

.icon-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-link {
  text-decoration: none;
  color: #1c2c2d;
  height: auto;
  margin: 10px;
}