#homepicture {
  height: auto;
  max-width: 500px;
  border-radius: 10px;
  border: 3px solid #edede9;
  box-shadow: 8px 8px 2px #d3d3d0;
  margin: 50px;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 100%;
}

#intro p {
  font-size: larger;
  font-weight: 700;
  letter-spacing: .15em;
  margin-bottom: 0px;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  flex-wrap: nowrap;
  width: min-content;
}

.projects h3 {
  text-align: left;
  margin-left: 20px;
  text-decoration: underline;
  margin-top: 15vh;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #1c2c2d; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #1c2c2d; }
}

@media screen and (max-width:600px) {
  #intro {
    flex-direction: column;
  }
  #homepicture {
    height: auto;
    max-width: 350px;
  }
}