#homepicture {
  height: 200px;
  width: 300px;
  border-radius: 15px;
  border: 3px solid #edede9;
  box-shadow: 8px 8px 2px #565654;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro p {
  padding: 10px;
  font-size: larger;
  font-weight: 700;
}

#intro {
  margin-top: 100px;
  padding: 30px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #edede9; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #edede9; }
}