.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  width: auto;
  height: min-content;
  background-color: #edede9;
  color: #354f52;
  margin: 10px;

}

.project-img {
  max-width: 400px;
  max-height: 400px;
}